@media screen and (min-width: 1111px){
    body{
        background: url('imagens/fundo2.jpg');
        background-size: cover;
        font-family: 'Fjalla One', sans-serif;
        color:  black;
      } 
      
      h1{
        display: flex;
        align-items: baseline;
        font-size: 30px;
      }

     div{
      display: flex;
      align-items: center;
      font-size: 17px;
      font-family: 'Marvel', sans-serif;
      flex-direction: column;
      } 

      h2{
        font-size: 20px;
      }
      
      section{
        width: 100%;
        height: 100vh;
      }
       .cadastro{
        margin: 20px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        width: 100%;
        
      }  


      .email{
        margin: 20px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
       padding: 10px 0;
  
      } 

      .inputs{
        flex-direction: column; 
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150%;
        margin: 8px;
      }

      .inputs input{
        width: 40%;
        height: 30px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        padding: 10px;
        text-align: center;
        outline: none;
        box-sizing: border-box;
        font-size: 80%;
        transition: 0.5s;
      }
      

      button{
        position: static; 
        width: 25%;
        margin: 50px 0;
        width: 150px;
        height: 80px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        background-color: #D0F8ED;
        transition: 1s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        font-weight: bold;
        box-sizing: border-box;
      }
      
}