
.divCad{
    height: 70px;
    width: 17.2%;
    background: linear-gradient(0.05turn, #a9817f, #a5d0f0, #a5d0f0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 66.5%;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 1s;
}
header img{
    width: 7vw;
    margin-left: 3vw;
}

.divCad a{
    font-size: 15pt;
    width: 80%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    height: calc(92% / 3);
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.divCad a:hover{
    background-color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
}

.divCad2{
    top: 70px;
    height: 175px;
    opacity: 1;
}

header{
    height: 100px;
    width: 100%;
    background-color:#a5d0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px;
    flex-direction: row;
    z-index: 2;
}

header>a{
    margin-left: 3vw;
    text-decoration: none;
    font-size: 2em;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
    z-index: 2;
}

nav{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3vw;
    position: relative;
    z-index: 2;
}

a{
    text-decoration: none; 
    color: #000;
}

nav>a {
    text-decoration: none;
    color: #000;
    font-weight: 550;
    font-family: sans-serif;
    font-size: 1em;
    height: 7vh;
    margin: 10px;
    width: calc(100vw / 6);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    transition: 1s;
    z-index: 2;
}
.texto {
    width: 73vw;
    position: relative;
    top: 22vh;
    left: 24vw;
    color: white;
}