 
.inputs{
  flex-direction: column; 
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220%;
  margin: 8px;
  }

  .inputs input{
  width: 300px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  outline: none;
  box-sizing: border-box;
  font-size: 80%;
  transition: 0.5s;
  }
  .inputs input:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .inputs input:focus{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  button{
    width: 150px; 
    margin: 50px 0;
    height: 80px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #D0F8ED;
    transition: 1s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
  }

  

  
  
  
  
  