body{
    margin: 0 auto;
    padding: 0;
    background-color: white);
    font-family: 'BenchNine', sans-serif;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;

}


header{
    height: 100px;
    width: 100%;
    background-color:#a5d0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 0 10px; */
    flex-direction: row;
    z-index: 2;
}

header>a{
    margin-left: 3vw;
    text-decoration: none;
    font-size: 2em;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
    z-index: 2;
}

nav{
    width: 75%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3vw;
    position: relative;
    z-index: 2;
}

a{
    
    text-decoration: none; 
    color: #000;
}

nav>a {
    text-decoration: none;
    color: #000;
    font-weight: 550;
    font-family: sans-serif;
    font-size: 18px;
    height: 7vh;
    margin: 10px;
    width: calc(100vw / 6);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    transition: 1s;
    z-index: 2;
}
header img{
    width: 7vw;
    margin-left: 3vw;
}
.d1:hover{
    background-color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
}

.divCad{
    height: 70px;
    width: 17.2%;
    background: linear-gradient(0.05turn, #a9817f, #a5d0f0, #a5d0f0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 61.5%;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 1s;
}

.divCad a{
    font-size: 15pt;
    width: 80%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    height: calc(92% / 3);
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    position: relative;
    z-index: 2;
}

.divCad a:hover{
    background-color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
}

.divCad2{
    top: 70px;
    height: 175px;
    opacity: 1;
}

/* ------------------------------------------- */

.titulo {
    display: flex;
    height: 5vh;
    margin: 0 0 16vh 27vw;
}
h2{
    font-size: 25pt;
}


/* REFERENTE A POSIÇÃO DOS CARDS (como se fosse o body)*/
.corpo{
    flex-direction: row;
flex-wrap: wrap;
display: flex;
position: relative;
width: 100vw;
height: 100%;
justify-content: center;
align-items: center;
}
/* TAMANHO DOS CARDS*/
.conteudo {
 position: relative;
width: 280px;
height: 42vh;
margin-left: 3vw;
margin-top: 5vh;
}

/* ROTAÇÃO DE CARDS */       
.cartao {
    position: absolute;
    width: 100%;
    height: 100%;
    display:flex;
    transform-style: preserve-3d;
    transition: all 0.3s linear;
}

.cartao:hover{
    transform: rotateY(180deg);
}
.frente {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
  }


.traseira {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: #333;
    transform: rotateY(180deg);
  }

.rosa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255);
}



/*  ------------------------- EDIÇÃO IMAGEM + LINKEDIN */
.nome{
    font-size: 20pt;
}
.mais{
    font-size: 30pt;
    margin-top: 55px;
    margin-left: 100px;
}
.azul {
    background: rgba(255,255,255);
    display: flex;
    font-size: 3em;
    align-items: center;    
    justify-content: center;
}

.azul>.linkedin{
    position: relative;
    left: 18px;
    top:70px;
    text-decoration: none;
     
}
.azul>.linkedin2{
    position: relative;
    left: 18px;
    top:70px;
    text-decoration: none;
     
}
.linkedin>a{
    color: white;
    font-weight: bolder;
    font-size: 15pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.linkedin2>a{
    color: black;
    font-weight: bolder;
    font-size: 15pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.linkedin{
    width: 10px;
    height: 10px;
    font-size: 12pt;  
    margin: 0px;
    padding: 0px;
    border: 0px;
}
    
.linkedin2{
    width: 10px;
    height: 10px;
    font-size: 14pt;  
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Imagens dos Profissionais*/
.imgCard {
    position:absolute;
    z-index:-1;
}

.imgCard {
   width: 195px;
   height: 180px;
   box-shadow: 1px 1px 2px 2px grey;
    } 

/*-------------------*/
.texto {
    position: relative;
    top: 0;
    width: 50vw;
    height: 70%;
    margin: 5vh;
    display: flow-root;
    }

.texto h1{
    font-size: 30pt;
}
    
.texto p{
    font-size: 15pt;
    margin-left: 10pt;
}

.contatos {
    top: 0vh;
    color: #000;
    left: 10px;
    z-index: 0;
    position: relative;
    font-weight: 100;
}

.parallax {
background-image: url("imgcard/happy.jpg");
background-attachment: fixed;
background-position: center top;
background-size: cover;
background-repeat: no-repeat;
/* height: 95vh; */
height: 95vh;/*tamanho img*/
/* opacity: 0.7; */
position: relative;
top:0;
z-index: 1;
overflow: hidden;
}

.parallax2 {
background-image: url("imgcard/criancas2.png");
background-attachment: fixed;
background-position: center top;
background-size: cover;
background-repeat: no-repeat;
padding-bottom: 10vh;
/* opacity: 0.9; */
position: relative;
top:0;
z-index: 2;
overflow: hidden;
}
.parallax3 {
background-image: url("imgcard/Cute2.jpg");
background-attachment: fixed;
background-position: center top;
background-size: cover;
background-repeat: no-repeat;
/* opacity: 0.9; */
position: relative;
padding-bottom: 10vh;
top:0;
z-index: 2;
overflow: hidden;
}
.quadradinhos{
    position: relative;
    top: 0vh;
    background: rgba(255,255,255,0.6);
}

/*    Triângulo do Header */
.rotate {
left: -33vw;
/* background: linear-gradient(0.55turn,#e66465, #96b8d7,#96b8d7); */
background:#a5d0f0;
width: 132vw;
height: 42vh;
position: relative;
top: -15vh;
animation: 2s rotate linear;
transform: rotate(169deg);
}
.colab {
background-image: url(imgcard/high-five2.png);
background-size: cover;
background-repeat: no-repeat;
width: 20vw;
height: 20vw;
position: relative;
top: 0;
left:75vw;
animation: 5s colab linear ;

}

@keyframes colab{
    0%{
        background-image: url(imgcard/high-five.png);
    }
    50%{
        background-image: url(imgcard/high-five1.png);
    }
    100%{
        background-image: url(imgcard/high-five2.png);
    }
}

@keyframes rotate{
    0%{
        background:#a5d0f0;
        /* background: linear-gradient(0.505turn,#e66465, #96b8d7,#96b8d7); */
        transform: rotate(180deg);
        top: -15vh;
        height: 105vh;
    }
    20%{
        background:#a5d0f0;
        /* background: linear-gradient(0.51turn,#e66465, #96b8d7,#96b8d7); */
    }
    40%{
        background:#a5d0f0;
        /* background: linear-gradient(0.52turn,#e66465, #96b8d7,#96b8d7); */
    }
    60%{
        background:#a5d0f0;
        /* background: linear-gradient(0.53turn,#e66465, #96b8d7,#96b8d7); */
    }
    80%{
        background:#a5d0f0;
        /* background: linear-gradient(0.54turn,#e66465, #96b8d7,#96b8d7); */
    }
    100%{
        transform: rotate(169deg);
        /* background: linear-gradient(0.55turn,#e66465, #96b8d7,#96b8d7); */
        background:#a5d0f0;
        top:-16vh;
    }
    
}
@media (min-width:600px){
    .conteudo{
        width: 250px;
        height: 37vh;
    }
    .colab{
        width: 15vw;
        height: 15vw;
    }
}
@media (min-width:800px){
    .conteudo{
    width: 173px;
    height: 27vh;
    }
    .colab{
        width: 7vw;
        height: 7vw;
    }
}
@media (min-width:1px){
    .conteudo{
        width: 232px;
       height: 35vh;
    }
}

