body{
    margin: 0 auto;
    padding: 0;
    /* background-color: rgba(255, 255, 255, 0.705); */
    font-family: 'BenchNine', sans-serif;
    overflow-x: hidden;
}

header{
    height: 100px;
    width: 100%;
    background-color:#a5d0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px;
    flex-direction: row;
    z-index: 2;
}

header>a{
    margin-left: 3vw;
    text-decoration: none;
    font-size: 2em;
    color: #000;
    font-family: sans-serif;
    font-weight: bold;
    z-index: 2;
}

nav{
    width: 75%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3vw;
    position: relative;
    z-index: 2;
}

a{
    
    text-decoration: none; 
    color: #000;
}

nav>a {
    text-decoration: none;
    color: #000;
    font-weight: 550;
    font-family: sans-serif;
    font-size: 18px;
    height: 7vh;
    margin: 10px;
    width: calc(100vw / 6);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    transition: 1s;
    z-index: 2;
}
header img{
    width: 7vw;
    margin-left: 3vw;
}
.d1:hover{
    background-color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
}

.divCad{
    height: 70px;
    width: 17.2%;
    background: linear-gradient(0.05turn, #a9817f, #a5d0f0, #a5d0f0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 61.5%;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    opacity: 0;
    z-index: 1;
    transition: 1s;
}

.divCad a{
    font-size: 15pt;
    width: 80%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    height: calc(92% / 3);
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.divCad a:hover{
    background-color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
}

.divCad2{
    top: 70px;
    height: 175px;
    opacity: 1;
}

.quadro{
    width: 900px;
    height: 600px;
    margin-top: 80px;
}

.divQuadro{
width: 100vw;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.divAzul{
    background-color:#a5d0f0;    
    width: 100%;
    height: 300px;
    box-shadow: 0 0 3px;

}
.divcima{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}
 
.divDentro{
    top:0px;
    width: 1000px;
    height: 100%;
 
}

p{
    
    font-size: 23px;
    font-family: 'BenchNine', sans-serif;
}
.divbaixo{
    width: 1000%;
    height: 100px;
}
