body {
    background-color: white;
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: lightskyblue;
    display: flex;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
    margin: 0;
    
}

h2 {
    color: lightskyblue;
    font-weight: bold;
}

h3 {
    color: black;
    font-size: 12pt;
    text-align: center;
    margin: 0;
    padding: 0;
}

#logotipo <h2>{
    height: 200px;
    width: 200px;
}


#diversos {
    width: 100%;
    height:50vh;
    overflow-y: hidden;
}

.sociais {
    width: 50px;
    height:50px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    border-radius: 2px;
    justify-content: space-evenly;
}

.titulo {
    display: block;
    text-align: center;
    padding: 10vh 50vh 0vh 50vh;

}

#logotipo2 {
    width: 100px;
    height: 100px;
    display: flex;
    text-align:center;
    justify-content:center;
}

footer {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    background-color: lightskyblue;
    border-top: 10px;
    padding: 1vh 1vh 1vh 1vh;
}

p {
    justify-content: flex-start;
}

section {
    padding: 5px;
}

aside {
    display: flex;
    justify-content: right;
    height: 100vh;
    width: 300px;
    border-left: 4px;
    border-bottom: 5px;
    padding: 15px;
   
}

a {
    text-decoration: none;
    color: darkblue;
    font-size: 15pt;
}

.items {
    display: block;
    text-align: center;
    justify-content: space-evenly;
    background-color: lightskyblue;
    border-top: 10px;
    padding: 1vh 1vh 1vh 1vh;
}


.redes{
    display: flex;
    justify-content: space-evenly;
    background-color: lightskyblue;
    border-top: 10px;
    padding: 1vh 1vh 1vh 1vh;
}
    
#meubotaozinho {
    width: 300px;
    height: 60px;
    background-color: lightskyblue;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 15pt;
}

#botao {
    display: flex;
    justify-content: center;
}

#meubotaozinho2 {
    width: 180px;
    height:60px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

#f{
    background-color: lightskyblue;
}

#i {
    width: 100px;
    height: 100px;
}

